.custom-allkons.custom-checkbox .ant-checkbox {
  align-self: start;
  margin-top: 4px;
}

.custom-allkons.custom-checkbox.ant-checkbox-wrapper.size-small
  .ant-checkbox
  .ant-checkbox-inner {
  width: 16px;
  height: 16px;
}

.custom-allkons.custom-checkbox.ant-checkbox-wrapper.size-default
  .ant-checkbox
  .ant-checkbox-inner {
  width: 20px;
  height: 20px;
}

.custom-allkons.custom-checkbox.ant-checkbox-wrapper.size-large
  .ant-checkbox
  .ant-checkbox-inner {
  width: 20px;
  height: 20px;
}

.custom-allkons.custom-checkbox.ant-checkbox-wrapper .ant-checkbox-label {
  margin-top: 2px;
}

/* Checkbox Label Container */
.checkbox-label-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.checkbox-label-container.size-large {
  font-size: 18px;
}

.checkbox-label-container.size-default {
  font-size: 16px;
}

.checkbox-label-container.size-small {
  font-size: 14px;
}

.checkbox-label-container.disabled {
  color: var(--color-text-disabled);
}

.checkbox-label-container.default-no-supporting {
  margin-top: 2px;
}

.checkbox-supporting-text {
  color: var(--color-text-quinary);
}

.checkbox-supporting-text.disabled {
  color: var(--color-text-disabled);
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
}

.form-item-no-margin {
  margin-bottom: 0;
}

